{% extends 'base.html' %}

{% block meta %}
<title>Pembuatan Task</title>
{% endblock meta %} 

{% block content %}

<div class="creation">
  <form method="POST" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td>Title:</td>
        <td> <input type="text" name="title" placeholder="Title" class="form-control"></td>
      </tr>
  
      <tr>
        <td>Descrition:</td>
        <td> <input type="text" name="description" placeholder="Description" class="form-control"> </td>
      </tr>
  
      <tr>
        <td></td>
        <td><input class="btn submit_btn" type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
</div>

<button><a href="{% url 'todolist:show_todo' %}">Back</a></button>

{% endblock content %}